<div class='form'>
  <%= form_with(model: event, local: true) do |form| %>
    <h2><%= event.new_record? ? "Add Event" : "Update Event" %></h2>
    <% if event.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(event.errors.count, 'error') %> prohibited this event form being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
      <div class='input-group'>
        <%= form.text_field :name, class: 'form-control', required: true, placeholder:'Name' %>    
      </div>
    </div>

    <div class='form-group'>
      <div class='input-group'>
        <%= form.text_area :description, class: 'form-control', required: true, placeholder:'Description' %>    
      </div>
    </div>

    <div class='form-group'>
      <div class='input-group'>
        <%= form.text_field :date, class: 'form-control', required: true, placeholder:'Date: dd/mm/yyyy hh:mm' %>    
      </div>
    </div>

    
    <b>Select places for the event:</b>
    <%= form.collection_check_boxes :place_ids, Place.all, :id, :name do |b| %>
      <div class='form-check'>
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label") %>
      </div>
    <% end %>
    <br>
    <div class='form-group'>
      <%= form.submit :class => 'btn btn-primary login-btn btn-block' %>
    </div>
  <% end %>
</div>
