<div class="row">
  <div class="form-group col-md-12">
    <div class="places_list_page">
      <div class="page-header">
        <h2 class="float-left">Events</h2>
        <%=link_to "New Event", new_event_path, class: "btn btn-success create-btn float-right" %>
        <div class="clearfix"></div>
      </div>
      <hr>
      
      <table id="placesTable" class="table table-hover" cellspacing="0" width="100%">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Created by</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= event.date %></td>
              <td><%= event.creator.email %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>