<div class="table-responsive panel">
  <h3>
    Event Details
    <small class="float-right">
      <%= link_to "Edit" , edit_event_path(@event), class: "btn btn-light btn-sm" if can? :manage, Event%>
    </small>
  </h3>
  <table class="table">
    <tbody>
      <tr>
        <td class="text-grey">Event Name: </td>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <td class="text-grey">Description: </td>
        <td><%= @event.description %></td>
      </tr>
      <tr>
        <td class="text-grey">Date: </td>
        <td><%= format_date(@event.date) %></td>
      </tr>
      <tr>
        <td class="text-grey">Created by: </td>
        <td><%= "#{@event.creator.name} (#{@event.creator.email})"%></td>
      </tr>
      <tr>
        <td class="text-grey">Created On: </td>
        <td><%= format_date(@event.created_at) %></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="table-responsive panel">
  <h5>Places selected for the event:</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Place Name</th>
        <th>Voters</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%@event.places.each do |place|%>
        <tr class="<%= @event.finalized?(place.id) ? 'finalized' : ''%>">
          <td>
            <%= place.name%>
          </td>
          <td>
            <%=place.event_voters(@event.id).presence || '-'%>
          </td>
          <td>
            <%if @event.any_finalized_place?%>
              <%if @event.finalized?(place.id)%>
                <span>Finalized</span>
              <%end%>
            <%else%>
              <%= link_to "Vote", vote_place_path(place, event_id: @event.id), data: { confirm: "Are you sure? Once you vote for a place you can't edit." }, class: "btn btn-outline-secondary btn-sm" unless voted_event?(@event.id)%>
              <%= link_to "Finalize", finalize_place_event_path(@event, place_id: place.id), class: "btn btn-outline-info btn-sm", data: { confirm: "Are you sure want to finalize #{place.name} for team lunch?" } if can? :finalize, Event%>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
