<!-- header for large screen -->
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="/">Team Lunch</a>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
          alt="User picture">
      </div>
      <div class="user-info">
        <span class="user-name">
          <%= current_user.name%>
        </span>
        <span class="user-role">
          <%= current_user.email%>
        </span>
        <span class="user-status">
          <%= current_user.manager? ? "Manager" : "Developer"%>
        </span>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul>
        <% if current_user.manager? %>
          <li>
            <%= link_to "Team Members", users_path, class: "nav-item nav-link" %>
          </li>
        <%end%>
        <li>
          <%= link_to "Events", events_path, class: "nav-item nav-link" %>
        </li>
        <li>
          <%= link_to "Places", places_path, class: "nav-item nav-link" %>
        </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
    <div class="sidebar-footer">
      <div class="sidebar-menu pad-0">
        <ul>
          <li>
            <%= link_to(logout_path, method: :delete) do%>
              <span>Log Out</span>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- header for small screen -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand float-left" href="/">Team Lunch</a>
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="clearfix"></div> 

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to("javascript:;", class: "nav-item nav-link") do %>
          <%= "#{current_user.name} (#{current_user.email})"%>
        <%end%>
      </li>
      <li>
        <div class="header-divider"></div>
      </li>
      <% if current_user.manager? %>
        <li>
          <%= link_to "Team Members", users_path, class: "nav-item nav-link" %>
        </li>
      <%end%>
      <li>
        <%= link_to "Events", events_path, class: "nav-item nav-link" %>
      </li>
      <li>
        <%= link_to "Places", places_path, class: "nav-item nav-link" %>
      </li>
      <li>
        <%= link_to "Log Out", logout_path, class: "nav-item nav-link" %>
      </li>
    </ul>
  </div>
</nav>