<!DOCTYPE html>
<html>
  <head>
    <title>TeamLunchDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/assets/fav-icon.jpeg">
  </head>
  <body>
    <div >
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %><span class="close-alert">x</span></div>
      <% end %>
      <%if current_user.present?%>
        <div class="page-wrapper chiller-theme toggled">
          <%= render partial: "layouts/header" %>
          <!-- sidebar-wrapper  -->
          <main class="page-content">
            <div class="container-fluid">
              <%= yield %>
            </div>

          </main>
          <!-- page-content" -->
        </div>
      <%else%>
        <%= yield %>
      <%end%>
    </div>
  </body>
</html>
